# COGS 118A- Project Checkpoint

# Names

Hopefully your team is at least this good. Obviously you should replace these with your names.

- Pelé
- Diego Maradonna
- Johan Cruyff
- Roberto Carlos
- Franz Beckenbaur

# Abstract 
This section should be short and clearly stated. It should be a single paragraph <200 words.  It should summarize: 
- what your goal/problem is
- what the data used represents and how they are measured
- what you will be doing with the data
- how performance/success will be measured

# Background

Fill in the background and discuss the kind of prior work that has gone on in this research area here. **Use inline citation** to specify which references support which statements.  You can do that through HTML footnotes (demonstrated here). I used to reccommend Markdown footnotes (google is your friend) because they are simpler but recently I have had some problems with them working for me whereas HTML ones always work so far. So use the method that works for you, but do use inline citations.

Here is an example of inline citation. After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds<a name="lorenz"></a>[<sup>[1]</sup>](#lorenznote). Use a minimum of 2 or 3 citations, but we prefer more <a name="admonish"></a>[<sup>[2]</sup>](#admonishnote). You need enough citations to fully explain and back up important facts. 

Remeber you are trying to explain why someone would want to answer your question or why your hypothesis is in the form that you've stated.

# Problem Statement

Clearly describe the problem that you are solving. Avoid ambiguous words. The problem described should be well defined and should have at least one ML-relevant potential solution. Additionally, describe the problem thoroughly such that it is clear that the problem is quantifiable (the problem can be expressed in mathematical or logical terms), measurable (the problem can be measured by some metric and clearly observed), and replicable (the problem can be reproduced and occurs more than once).

# Data

UPDATED FROM PROPOSAL!

You should have obtained and cleaned (if necessary) data you will use for this project.

Please give the following infomration for each dataset you are using
- link/reference to obtain it
- description of the size of the dataset (# of variables, # of observations)
- what an observation consists of
- what some critical variables are, how they are represented
- any special handling, transformations, cleaning, etc you have done should be demonstrated here!

Our data is 120 breeds of dogs with pictures of each, as well as annotations for each image if we chose to use those. With 20k pictures we believe we can use the pixel data from each image to develop features to do a classification problem

**Dataset Stats**  
Total Pics: 20,580  
Total Species: 120

Average # pics: 	 171.5  
Minimum # pics: 	 148  
Maximum # pics: 	 252  

**Image Stats**  
Mean img Height: 	 385.861  
Mean img Width: 	 442.532  

Med img Height: 	 375.0  
Med img Width: 		 500.0

![output.png](output.png)
*There are no low outliers (too little info), only breeds with a relatively large amount of pics*
![output2.png](output2.png)
*even the lowest 50 breeds have a range of 8 images, little to no underrepresentation*

## Loading & Preprocessing Image Data

In [3]:
# basics
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

from tensorflow.keras.preprocessing.image import load_img, img_to_array
from sklearn.model_selection import train_test_split

from pathlib import Path
import os

In [4]:
directory = str(Path.cwd())+'/Images'
all_img_dir = [i for i in os.listdir(directory) if 'n0' in i]

Name = []
for file in all_img_dir: 
    name = file.split('-')[-1]
    Name += [name]
Name, len(Name)

(['silky_terrier',
  'Scottish_deerhound',
  'Chesapeake_Bay_retriever',
  'Ibizan_hound',
  'haired_fox_terrier',
  'Saluki',
  'cocker_spaniel',
  'schipperke',
  'borzoi',
  'Pembroke',
  'komondor',
  'Staffordshire_bullterrier',
  'standard_poodle',
  'Eskimo_dog',
  'English_foxhound',
  'golden_retriever',
  'Sealyham_terrier',
  'Japanese_spaniel',
  'miniature_schnauzer',
  'malamute',
  'malinois',
  'Pekinese',
  'giant_schnauzer',
  'Mexican_hairless',
  'Doberman',
  'standard_schnauzer',
  'dhole',
  'German_shepherd',
  'Bouvier_des_Flandres',
  'Siberian_husky',
  'Norwich_terrier',
  'Irish_terrier',
  'Norfolk_terrier',
  'Saint_Bernard',
  'Border_terrier',
  'briard',
  'Tibetan_mastiff',
  'bull_mastiff',
  'Maltese_dog',
  'Kerry_blue_terrier',
  'kuvasz',
  'Greater_Swiss_Mountain_dog',
  'Lakeland_terrier',
  'Blenheim_spaniel',
  'basset',
  'West_Highland_white_terrier',
  'Chihuahua',
  'Border_collie',
  'redbone',
  'Irish_wolfhound',
  'bluetick',
  'miniature_poodle',
  'Cardigan',
  'EntleBucher',
  'Norwegian_elkhound',
  'haired_pointer',
  'Bernese_mountain_dog',
  'papillon',
  'Tibetan_terrier',
  'Gordon_setter',
  'American_Staffordshire_terrier',
  'vizsla',
  'kelpie',
  'Weimaraner',
  'miniature_pinscher',
  'boxer',
  'chow',
  'Old_English_sheepdog',
  'pug',
  'Rhodesian_ridgeback',
  'Scotch_terrier',
  'Tzu',
  'affenpinscher',
  'whippet',
  'Sussex_spaniel',
  'otterhound',
  'coated_retriever',
  'English_setter',
  'Italian_greyhound',
  'Labrador_retriever',
  'collie',
  'cairn',
  'Rottweiler',
  'Australian_terrier',
  'toy_terrier',
  'Shetland_sheepdog',
  'African_hunting_dog',
  'Newfoundland',
  'Walker_hound',
  'Lhasa',
  'beagle',
  'Samoyed',
  'Great_Dane',
  'Airedale',
  'bloodhound',
  'Irish_setter',
  'keeshond',
  'Dandie_Dinmont',
  'basenji',
  'Bedlington_terrier',
  'Appenzeller',
  'clumber',
  'toy_poodle',
  'Great_Pyrenees',
  'English_springer',
  'Afghan_hound',
  'Brittany_spaniel',
  'Welsh_springer_spaniel',
  'Boston_bull',
  'dingo',
  'coated_wheaten_terrier',
  'coated_retriever',
  'French_bulldog',
  'Irish_water_spaniel',
  'Pomeranian',
  'Brabancon_griffon',
  'Yorkshire_terrier',
  'groenendael',
  'Leonberg',
  'tan_coonhound'],
 120)

In [5]:
def load_image(color_mode='rgb', target_size=(128, 128)):
    train_data = [] #np.array([])
    test_data = [] #np.array([])
    train_label = [] #np.array([]) 
    test_label = [] #np.array([])

    for i in range(len(Name)):
        path = os.path.join(directory+'/', all_img_dir[i])

        t = 0
        for im in os.listdir(path):
            n = len(os.listdir(path))
            image = load_img(os.path.join(path+'/', im), 
                             color_mode=color_mode, #grayscale=False,  
                             target_size=target_size)
            image = img_to_array(image)
            image = image/255.0
            
            if t <= np.floor(n*0.8):
                train_data.append(image)
                train_label.append(Name[i])          
            else:
                test_data.append(image)
                test_label.append(Name[i])
        
            t+=1
    
    return train_data, test_data, train_label, test_label

In [6]:
# import dog images in grayscale and sizes of 50 x 50 

train_data, test_data, train_label, test_label = load_image(color_mode='grayscale',
                                                            target_size=(50,50))

In [7]:
# convert image data into numpy arrays
train_data = np.array(train_data)
test_data = np.array(test_data)

# flatten each image into 1-D array of pixel values
train_data = train_data.reshape(-1, train_data.shape[0]).T
test_data = test_data.reshape(-1, test_data.shape[0]).T

# get image labels
train_label = np.array(train_label)
test_label = np.array(test_label)

# Let's print out the new shape
print('train shape is now: ' + str(train_data.shape))
print('test  shape is now: ' + str(test_data.shape))

train shape is now: (16538, 2500)
test  shape is now: (4042, 2500)

In [8]:
# combine data and labels into pandas dataframe
train_df = pd.DataFrame(train_data)
train_df['label'] = train_label

test_df = pd.DataFrame(test_data)
test_df['label'] = test_label

In [13]:
train_df

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0.850980,0.125490,0.247059,0.639216,0.403922,0.317647,0.329412,0.345098,0.658824,0.349020,...,0.105882,0.690196,0.164706,0.349020,0.819608,0.988235,0.090196,0.376471,0.368627,silky_terrier
1,0.847059,0.203922,0.207843,0.725490,0.396078,0.176471,0.258824,0.458824,0.490196,0.333333,...,0.098039,0.670588,0.101961,0.588235,0.839216,0.988235,0.152941,0.396078,0.145098,silky_terrier
2,0.831373,0.003922,0.105882,0.443137,0.384314,0.619608,0.466667,0.392157,0.525490,0.325490,...,0.082353,0.666667,0.113725,0.313726,0.760784,0.203922,0.141176,0.498039,0.105882,silky_terrier
3,0.776471,0.670588,0.215686,0.564706,0.388235,0.239216,0.513726,0.309804,0.364706,0.337255,...,0.094118,0.678431,0.121569,0.439216,0.564706,0.815686,0.137255,0.592157,0.164706,silky_terrier
4,0.741176,0.447059,0.160784,0.741176,0.388235,0.333333,0.454902,0.231373,0.388235,0.313726,...,0.113725,0.917647,0.141176,0.560784,0.443137,0.878431,0.125490,0.282353,0.294118,silky_terrier
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16533,0.003922,0.274510,0.694118,0.443137,0.474510,0.835294,0.490196,0.858824,0.207843,0.650980,...,0.694118,0.121569,0.403922,0.796078,0.976471,0.129412,0.470588,0.396078,0.874510,tan_coonhound
16534,0.003922,0.407843,0.654902,0.525490,0.219608,0.768627,0.760784,0.635294,0.878431,0.933333,...,0.698039,0.101961,0.294118,0.839216,0.925490,0.133333,0.396078,0.337255,0.866667,tan_coonhound
16535,0.031373,0.176471,0.670588,0.270588,0.682353,0.682353,0.505882,0.611765,0.411765,0.941176,...,0.666667,0.109804,0.333333,0.796078,0.952941,0.137255,0.482353,0.329412,0.796078,tan_coonhound
16536,0.011765,0.152941,0.658824,0.427451,0.372549,0.635294,0.654902,0.349020,0.360784,0.937255,...,0.686275,0.152941,0.654902,0.627451,0.968627,0.725490,0.596078,0.376471,0.807843,tan_coonhound
16537,0.113725,0.286275,0.654902,0.415686,0.333333,0.454902,0.662745,0.196078,0.717647,0.941176,...,0.654902,0.164706,0.309804,0.866667,0.976471,0.192157,0.466667,0.396078,0.796078,tan_coonhound

In [14]:
test_df

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,label
0,0.827451,0.678431,0.392157,0.776471,1.000000,0.066667,0.298039,0.003922,0.443137,0.768627,...,0.121569,0.894118,0.478431,0.768627,0.000000,0.078431,0.090196,0.607843,0.278431,silky_terrier
1,0.780392,0.509804,0.376471,0.729412,1.000000,0.070588,0.192157,0.266667,0.780392,1.000000,...,0.050980,0.792157,0.588235,0.682353,0.000000,0.109804,0.054902,0.635294,0.356863,silky_terrier
2,0.835294,0.713726,0.380392,0.709804,1.000000,0.058824,0.250980,0.615686,0.635294,0.925490,...,0.117647,0.800000,0.654902,0.678431,0.000000,0.125490,0.078431,0.866667,0.141176,silky_terrier
3,0.819608,0.709804,0.403922,0.670588,1.000000,0.070588,0.282353,0.674510,0.658824,0.686275,...,0.129412,0.690196,0.415686,0.560784,0.000000,0.054902,0.062745,0.756863,0.298039,silky_terrier
4,0.823529,0.698039,0.368627,0.760784,0.996078,0.062745,0.345098,0.588235,0.635294,0.039216,...,0.031373,0.768627,0.490196,0.670588,0.000000,0.125490,0.047059,0.815686,0.121569,silky_terrier
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4037,0.192157,0.576471,0.800000,1.000000,0.282353,0.745098,0.109804,0.725490,0.568627,0.321569,...,0.741176,0.835294,0.584314,0.000000,0.066667,0.105882,0.819608,0.945098,0.125490,tan_coonhound
4038,0.211765,0.541176,0.745098,1.000000,0.235294,0.780392,0.137255,0.356863,0.600000,0.184314,...,0.529412,0.898039,0.635294,0.000000,0.098039,0.074510,0.168627,0.901961,0.125490,tan_coonhound
4039,0.447059,0.435294,0.752941,1.000000,0.227451,0.219608,0.262745,0.545098,0.525490,0.992157,...,0.725490,0.690196,0.709804,0.000000,0.086275,0.172549,0.192157,0.262745,0.133333,tan_coonhound
4040,0.517647,0.368627,0.717647,1.000000,0.137255,0.309804,0.250980,0.662745,0.654902,0.823529,...,0.654902,0.819608,0.635294,0.000000,0.145098,0.223529,0.254902,0.407843,0.129412,tan_coonhound
4041,0.666667,0.407843,0.737255,1.000000,0.074510,0.309804,0.054902,0.835294,0.780392,0.517647,...,0.862745,0.458824,0.815686,0.000000,0.215686,0.168627,0.537255,0.231373,0.125490,tan_coonhound

# Proposed Solution

In this section, clearly describe a solution to the problem. The solution should be applicable to the project domain and appropriate for the dataset(s) or input(s) given. Provide enough detail (e.g., algorithmic description and/or theoretical properties) to convince us that your solution is applicable. Make sure to describe how the solution will be tested.  

If you know details already, describe how (e.g., library used, function calls) you plan to implement the solution in a way that is reproducible.

If it is appropriate to the problem statement, describe a benchmark model<a name="sota"></a>[<sup>[3]</sup>](#sotanote) against which your solution will be compared.

# Evaluation Metrics

Propose at least one evaluation metric that can be used to quantify the performance of both the benchmark model and the solution model. The evaluation metric(s) you propose should be appropriate given the context of the data, the problem statement, and the intended solution. Describe how the evaluation metric(s) are derived and provide an example of their mathematical representations (if applicable). Complex evaluation metrics should be clearly defined and quantifiable (can be expressed in mathematical or logical terms).

# Preliminary results

NEW SECTION!

Please show any preliminary results you have managed to obtain.

Examples would include:
- Analyzing the suitability of a dataset or alogrithm for prediction/solving your problem 
- Performing feature selection or hand-designing features from the raw data. Describe the features available/created and/or show the code for selection/creation
- Showing the performance of a base model/hyper-parameter setting.  Solve the task with one "default" algorithm and characterize the performance level of that base model.
- Learning curves or validation curves for a particular model
- Tables/graphs showing the performance of different models/hyper-parameters

# Ethics & Privacy

If your project has obvious potential concerns with ethics or data privacy discuss that here.  Almost every ML project put into production can have ethical implications if you use your imagination. Use your imagination.

Even if you can't come up with an obvious ethical concern that should be addressed, you should know that a large number of ML projects that go into producation have unintended consequences and ethical problems once in production. How will your team address these issues?

Consider a tool to help you address the potential issues such as https://deon.drivendata.org

# Team Expectations

Put things here that cement how you will interact/communicate as a team, how you will handle conflict and difficulty, how you will handle making decisions and setting goals/schedule, how much work you expect from each other, how you will handle deadlines, etc...
* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

UPDATE THE PROPOSAL TIMELINE ACCORDING TO WHAT HAS ACTUALLY HAPPENED AND HOW IT HAS EFFECTED YOUR FUTURE PLANS

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM |  Brainstorm topics/questions (all)  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic (Pelé) | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets (Beckenbaur)  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data ,do some EDA (Maradonna) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin programming for project (Cruyff) | Discuss/edit project code; Complete project |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Carlos)| Discuss/edit full project |
| 3/19  | Before 11:59 PM  | NA | Turn in Final Project  |

# Footnotes
<a name="lorenznote"></a>1.[^](#lorenz): Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html<br> 
<a name="admonishnote"></a>2.[^](#admonish): Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.<br>
<a name="sotanote"></a>3.[^](#sota): Perhaps the current state of the art solution such as you see on [Papers with code](https://paperswithcode.com/sota). Or maybe not SOTA, but rather a standard textbook/Kaggle solution to this kind of problem